.body{
    width: 50%;
    height: 536px;
    margin: 12px 12px 0 12px;
    padding: 20px;
    background-color: white;
}

.titleSection{
    display: flex;
    justify-content: space-between;
}

.title{
    width: auto;
    height: 20px;
    margin: 0 0 24px 0;
    font-family: Inter;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -0.34px;
    text-align: left;
    color: black;
}

.sortBy{
    width: auto;
    height: 24px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 0;
    font-size: small;
    background-color: white;
    border: none;
}

.saveSearchTitle{
    width: auto;
  height: 18px;
  flex-grow: 0;
  margin: 0 0 8px 0;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.3px;
  text-align: left;
  color: black;
}

.tableBody{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description{
    width: 320px;
    height: auto; /* remove fixed height */
    flex-grow: 0;
    margin: 8px 37px 0 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.24px;
    text-align: start;
    color: gray;
    display: flex;
  }  

.createdBy{
    width: auto;
    height: 36px;
    margin-left: 5rem;
    margin-top: -5px;
}

.createdByTitle{
    width: auto;
  height: 16px;
  flex-grow: 0;
  margin: 0 0 8px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  text-align: left;
  color: gray;
}

.createrName{
    width: auto;
  height: auto;
  flex-grow: 0;
  margin: 8px 14px 0 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  text-align: left;
  color: black;
}

.icons{
    margin-left: 70px;
}