.backGround{
    background-image: url(../../assets/wallpaper/Login_Background@3x.png);
    background-repeat: no-repeat;
  background-size:cover ;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.userName{
  font-size: large;
}