.body{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp{
    position:relative;
    padding: auto;
    width: 100%;
    max-width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.titleSection{
    display: flex;
    justify-content: flex-start;
    padding: 24px;
}

.Add-UserTitle{
    width: auto;
  height: 28px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: -0.44px;
  text-align: left;
  color: var(--bw-black);
} 

.inputFields{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.Add-UserLabel{
    width: auto;
    height: 16px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.26px;
    text-align: left;
    display: flex;
    padding: 24px;
    color: gray
}

.Add-UserField{
    width: 16vw;
    height: 50px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 13px;
    margin-left: 24px;
    border-radius: 4px;
    border: solid 1px grey;
}

.cancel-submitButtons{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
}


.cancelButton{
    width: auto;
  height: 44px;
  padding: 13px 32px;
  border-radius: 4px;
  background-color: #e4e9fb;
  flex-grow: 0;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.3px;
  text-align: center;
  color: blue
}

.addUserButton{
    width: auto;
  height: 44px;
  padding: 13px 32px;
  border-radius: 4px;
  background-color: blue;
margin-left: 12px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.3px;
  text-align: center;
  color: white;

}
