.body{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 12px 12px 12px 12px;
}

.settingTabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    padding: 10px 0;
}

.active{
    width: auto;
    height: 16px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.26px;
    text-align: left;
    color: rgb(94, 94, 195);
}

.activeBar{
    margin-top: 33px;
    position: relative;
    border-bottom: 3px solid rgb(93, 92, 92);
}

.hr{
    /* height: 2px; */
    width: auto;
    /* color: rgb(53, 53, 53) !important; */
}